.grid-container{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 47.5% 47.5% auto;
  grid-template-rows: 80%;
  /* border: 3px solid red; */
  height:29vh;
  width: auto;
}

.album-box1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid red;
  height: 29vh;
  width: 90%;
}

.album-name1{
  border: 3px solid green;
  height: 70%;
}

.album-details1{
  border: 3px solid blue;
  height: 30%;
}

.album-box2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid red;
  height: 29vh;
  width: 90%;
}

  