body {
    margin: 0;
    padding: 0;
    font-family: 'Zodiak';
    color: #FFFFE3;
    overflow-x: hidden;
}

.Zone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #FFFFE3;
    border-top: none;
    height: 30vh;
    width: 100%;
    box-sizing: border-box;
}

.zone-box{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    height: 30vh;
    width: 90%;
    /* border: 3px solid #ff0707; */
    
}
.date-box{
    display: flex;
    align-items:center;
    height: 30vh;
    width: 35vh;
    margin-right: 8px;
    /* border: 3px solid #ff0707; */
    
}