.body{
  margin:0 ;
  padding: 0;
  background-color: #10100E;
}

.main-box{
    display: flex;
    border: 3px solid #FFFFE3;
    border-top: none;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 104.4vh;
    width: 100%;
    flex-grow: 1;
    background-image: url('/src/assets/nameBoxBG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* border: 3px solid #FFFFE3; */
    
  }

  .name {
    font-family: 'Zodiak';
    font-size: 24vh;
    margin-bottom: 0; 
  }
  
  .sub-text {
    text-align: center;
    margin-top: -2vh; 
    font-size: 2.3vh; 
  }

  .info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 34.5vh;
    border-right: 3px solid #FFFFE3;
    padding: 20px;
    line-height: 1.6; 
}

.info-box p {
    margin-bottom: 0.1em; 
}

.main-box2{
  display: flex;
  flex-direction: column;
  border: none;
  min-height:60vh;
}

.title-name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattern {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  background-image: url('/src/assets/pattern1.svg');
  background-size: contain;
  /* background-repeat: repeat-x; */
  background-position: center center;
}


.trip1{
  /* margin-left:5%; */
  padding-left: 4%;
  display: flex;
  justify-content: flex-start;
  align-items:center ;
  font-size: 8vh;
  width: 100%;
  height: 29.7vh;
  background-image: url('/src/assets/vegaslights.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* border: 3px solid red;  */
   
}

.tripDate1 {
  border-bottom: 3px solid #FFFFE3;
  height: 36.8vh;
  width: 30.2vh;
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
  text-align: center; 
  transform: rotate(-90deg);
  font-size: 9vh;
}


.trip2{
  /* margin-left:5%; */
  padding-left: 4%;
  display: flex;
  justify-content: flex-start;
  align-items:center ;
  font-size: 8vh;
  width: 94.5%;
  height: 29.7vh;
  background-image: url('/src/assets/nyBball.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  /* border: 3px solid red;     */
}

.tripDate2{
  border-top: 3px solid #FFFFE3;
  height: 36vh;
  width: 30.2vh; 
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  text-align: center; 
  transform: rotate(-90deg);
  font-size: 9vh;
}

.main-box3{
  display: flex;
  flex-direction: column;
  border: none;
  min-height:60vh;
  border: 3px solid #FFFFE3;
}

.music-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .music-pattern{

} */

.albumDate{
  /* border-bottom: 3px solid #FFFFE3; */
  height: 36vh;
  width: 30vh; 
  display: flex;
  align-items: flex-end; 
  justify-content: center; 
  text-align: center; 
  transform: rotate(-90deg);
  font-size: 9vh;
}

.album1{
    /* margin-left:5%; */
    padding-left: 4%;
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    font-size: 8vh;
    width: 100%;
    height: 29.7vh;

}
