.Border {
    border: 2px solid black;
    width: 95%; 
    height: 95%; 
    padding: 4%;
    margin: 2%;
    box-sizing: border-box;
}


.head1{
    cursor: default;
    color: #0d0d0d;
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    margin: -3px 0px 10px 20px;
}


.list{
    margin: 55px 0px 0px 20px;

}

a:hover{
    font-size: 80px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 12px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #0d0d0d;
    transition: font-size .35s ease;
}

.All{
    color: #0d0d0d;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif; 
    margin-bottom: 8px;
}


.trips{
    color: #0d0d0d;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif; 
    margin-bottom: 8px;
    text-decoration: none;
}

.Foods{
    color: #0d0d0d;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif; 
    margin-bottom: 8px;
}


.Music{
    color: #0d0d0d;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif; 
    margin-bottom: 8px;
}

.Info{
    color: #0d0d0d;
    font-size: 55px;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif; 
    margin-bottom: 8px;
}